$rich-black-fogra-29: rgba(13, 24, 33, 1);
$indigo-dye: rgba(52, 73, 102, 1);
$light-steel-blue: rgba(180, 205, 237, 1);
$baby-powder: rgba(240, 244, 239, 1);
$sage: rgba(191, 204, 148, 1);
$gradient: linear-gradient(170deg, #344966ff, #b4cdedff, #f0f4efff);

:root {
  /* CSS HSL */
  // --rich-black-fogra-29: hsla(207, 43%, 9%, 1);
  // --indigo-dye: hsla(215, 32%, 30%, 1);
  // --light-steel-blue: hsla(214, 61%, 82%, 1);
  // --baby-powder: hsla(108, 19%, 95%, 1);
  // --sage: hsla(74, 35%, 69%, 1);

  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s ease-in-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-color: $indigo-dye;
}

body {
  color: $rich-black-fogra-29;
  font-family: "Radio Canada", sans-serif;
}

.btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: $indigo-dye;
  color: $baby-powder;
  border: 2px solid $indigo-dye;
  transition: var(--mainTransition);
  cursor: pointer;

  &:hover {
    background: $light-steel-blue;
    color: $indigo-dye;
    border: 2px solid $indigo-dye;
  }
}

/* NAVBAR */

.navbar {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background: $indigo-dye;
  z-index: 1;

  &-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;

    img {
      width: 7rem;
    }
  }

  &-icon {
    font-size: 1.5rem;
  }

  .cart {
    &-btn {
      position: relative;
      cursor: pointer;
    }

    &-items {
      position: absolute;
      top: -8px;
      right: -8px;
      background: $sage;
      padding: 0 5px;
      border-radius: 30%;
      color: $baby-powder;
    }
  }
}

// HERO SECTION
.hero {
  // Photo by Jeremy Bishop (https://unsplash.com/photos/KFIjzXYg1RM) on Unsplash
  background: url("../images/hero.jpeg") center/cover no-repeat;

  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  filter: grayscale(0.4);
  filter: brightness(0.9);

  .banner {
    text-align: center;
    background: rgba($color: $baby-powder, $alpha: 0.8);
    display: inline-block;
    padding: 2rem;

    &-title {
      font-size: 3.4rem;
      text-transform: uppercase;
      letter-spacing: var(--mainSpacing);
      margin-bottom: 3rem;
    }
  }
}

// PRODUCT SECTION

.products {
  padding: 4rem 0;
  background: $gradient;

  &-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
  }

  &-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;

    .img-container {
      position: relative;
      overflow: hidden;
    }

    .bag-btn {
      position: absolute;
      top: 70%;
      right: 0;
      background: $sage;
      border: none;
      text-transform: uppercase;
      padding: 0.5rem 0.75rem;
      letter-spacing: var(--mainSpacing);
      font-weight: bold;
      transition: var(--mainTransition);
      transform: translateX(100%);
      cursor: pointer;

      &:hover {
        color: var(--mainWhite);
      }
    }

    .fa-shopping-cart {
      margin-right: 0.5rem;
    }

    .img-container:hover .bag-btn {
      transform: translateX(0);
    }

    .product-img {
      display: block;
      width: 100%;
      object-fit: cover;
      height: 20rem;

      transition: var(--mainTransition);

      @media screen and (max-width: 768px) {
        height: 15rem;
      }

      @media screen and (max-width: 768px) {
        height: 20rem;
      }
    }

    .img-container:hover .product-img {
      opacity: 0.5;
    }

    .product {
      h3 {
        text-transform: capitalize;
        font-size: 1.1rem;
        margin-top: 1rem;
        letter-spacing: var(--mainSpacing);
        text-align: center;
      }

      h4 {
        margin-top: 0.7rem;
        letter-spacing: var(--mainSpacing);
        color: $indigo-dye;
        text-align: center;
      }
    }
  }
}

// SHOPPING CART

.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgba($color: $sage, $alpha: 0.5);
  z-index: 5;
  visibility: hidden;
}

.transparentBcg {
  visibility: visible;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);

  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  &::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
  }

  @media screen and (min-width: 768px) {
    width: 30vw;
    min-width: 450px;
  }

  .close-cart {
    font-size: 1.7rem;
    cursor: pointer;
  }

  h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
  }

  // CART ITEM

  &-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;

    img {
      width: 75px;
      height: 75px;
      object-fit: cover;
    }

    h4 {
      font-size: 0.85rem;
      text-transform: capitalize;
      letter-spacing: var(--mainSpacing);
    }

    h5 {
      margin: 0.5rem 0;
      letter-spacing: var(--mainSpacing);
    }

    .item-amount {
      text-align: center;
    }

    .remove-item {
      color: grey;
      cursor: pointer;
    }

    .fa-chevron-up,
    .fa-chevron-down {
      color: var(--primaryColor);
      cursor: pointer;
    }
  }

  // CART FOOTER

  &-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;

    h3 {
      text-transform: capitalize;
      margin-bottom: 1rem;
    }
  }
}

.showCart {
  transform: translateX(0);
}
